.hero-section {
  background: url(/src/brand-agency-sales/hero-background.png);
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  color: var(--color-secondary);
  margin-bottom: 60px;
  line-height: normal;
}

#agency {
  padding-top: 120px;
}

#sales {
  padding-top: 80px;
}

.agency {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  row-gap: 40px;
  align-items: center;
}

.agency p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-tertiary);
  margin-bottom: 10px;
}

.agency ul {
  letter-spacing: 0.32px;
  color: #1a1c18;
  margin-bottom: 40px;
}

.agency-logo {
  height: 285px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agency-logo img {
  width: unset;
}

.agency-name {
  padding-left: 60px;
}
div.cards.inner-section {
  padding-bottom: 200px;
}
.clients-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
}

.client-logos {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.client-logos img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.big-logo {
  grid-column: span 2;
}

.gray-logo {
  background: #eceef2;
}

.white-logo {
  background: var(--color-tertiary);
}

@media only screen and (max-width: 1024px) {
  .agency {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
  .clients-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .big-logo {
    order: 4;
  }
}
