@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #376a20;
  --color-secondary: #55624c;
  --color-tertiary: #386667;
  --color-primary-container: #b7f397;
  --color-secondary-container: #d8e7cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Noto Sans TC";
  font-weight: 400;
  color: #1a1c18;
  line-height: 28.96px;
  background-color: #fafaf3;
}

h1 {
  font-size: 60px;
  font-family: "Noto Serif TC";
  font-weight: 900;
  line-height: 100%;
}

h2 {
  font-size: 32px;
  font-family: "Noto Serif TC";
  font-weight: 700;
  margin-bottom: 40px;
}

.primary {
  color: var(--color-primary);
}

.white {
  color: #fff;
}

p {
  font-size: 16px;
  letter-spacing: 0.4px;
}

img {
  width: 100%;
}

.inner-section {
  padding-left: calc(36vw - 365.7px);
  padding-right: calc(36vw - 365.7px);
}

/* NAVIGATION */
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 80px;
  z-index: 100;
  background-color: #fafaf3;
}

.logo {
  padding: auto 0;
  width: 180px;
}

.nav-lan {
  display: flex;
  column-gap: 143px;
  align-items: center;
}

.nav_container.sticky {
  position: fixed;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 58px;
}

.nav__link:link,
.nav__link:visited {
  font-size: 16px;
  color: #1a1c18;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link:hover {
  color: var(--color-primary) !important;
}

/* drop */
.nav-drop-container {
  position: absolute;
  align-items: center;
  padding-top: 40px;
  margin-left: -5px;
}

.nav-drop-active {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.drop-a {
  font-size: 16px;
  color: #1a1c18;
  text-decoration: none;
}
.drop-li {
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
}
.drop-li:hover {
  background-color: var(--color-primary-container);
}

.nav-drop-div {
  list-style: none;
  text-align: center;
}

.seperate-line {
  margin: 8px 0px;
  border: solid 1px #c3c8bb;
}

.contact-us-btn {
  border-radius: 4px;
  padding: 8px 16px;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

.contact-us-btn:hover {
  background-color: rgba(55, 106, 32, 0.6);
}

/* language selector */
.lan-selector {
  list-style: none;
  display: flex;
  gap: 12px;
  font-size: 16px;
}

.lan-selector > img {
  margin-right: 4px;
}

.language {
  cursor: pointer;
}

img.mobile {
  margin-left: auto;
  margin-right: 20px;
  width: auto;
  cursor: pointer;
}

/* NAVIGATION MOBILE */
.mobile {
  display: none;
}

#menuToggle {
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}

#menuToggle a {
  text-decoration: none;
  color: #1a1c18;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: #1a1c18;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform into a crossmark.*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px) scale(1.4, 1);
  background: #1a1c18;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px) scale(1.4, 1);
}

#menu {
  position: absolute;
  position: absolute;
  width: 261px;
  margin-top: -100px;
  right: -32px;
  padding: 38px 32px;
  padding-top: 125px;
  height: 120vh;

  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 10px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

.mob-menu-li-icon {
  display: flex !important;
  justify-content: space-between;
}

/* Footer */
footer {
  background-color: #2f312d;
  text-align: center;
  padding: 28px 0;
}

@media only screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .inner-section {
    padding-left: 32px;
    padding-right: 32px;
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    letter-spacing: 0.32px;
  }
  .nav_container {
    padding: 0 32px;
  }
  .form-section {
    padding: 40px;
  }
}
