.banner-img {
  height: 620px;
  width: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  padding-top: 220px;
  padding-bottom: 120px;
  display: flex;
  gap: 20px;
}
.hero-section > div {
  width: 50%;
  position: relative;
  margin: auto;
}
.hero-section > div > h1 {
  margin-bottom: 32px;
  line-height: 120%;
}
.hero-section > div > svg {
  position: absolute;
}
.hero-section > div > .s-svg {
  top: -86px;
}
.hero-section > div > .l-svg {
  top: 456px;
  left: -50px;
}

.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-section > div:first-child {
  padding: 0 100px;
}

.about-section p {
  margin-bottom: 100px;
}

.about-section > div > img {
  margin-bottom: 120px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0 18px 0;
  border: 1px solid #1a1c18;
  background: #d8e7cb;
  white-space: nowrap;
  position: relative;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
  height: fit-content;
}

.logos-slide img {
  height: 100px;
  width: fit-content;
  margin: 0 20px;
}
.img-blocks {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1.9fr;
}
.img-blocks > div {
  width: 100%;
  border-radius: 20px;
  background: var(--color-secondary-container);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-blocks > div.plugs {
  background: none;
}
.img-blocks img {
  width: 100%;
}
.product-section {
  background-color: var(--color-tertiary);
  padding: 60px;
  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 40px;
}
.brand-section {
  padding-top: 120px;
  padding-bottom: 240px;
}
.two-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}
.two-card > div {
  background: #fff;
  border-radius: 20px;
}
.two-card > div ul {
  padding: 40px;
}

.form-section {
  padding: 200px 320px;
  border-radius: 60px 60px 0 0;
  background-color: var(--color-secondary);
  display: grid;
  color: #fff;
  gap: 80px;
  grid-template-columns: 64fr 56fr;
}

.form-section p {
  font-size: 32px;
  font-family: "Noto Serif TC";
  font-weight: 700;
}

form p label {
  font-size: 15px;
}

@media only screen and (max-width: 1024px) {
  .banner-img {
    height: unset;
  }
  .hero-section {
    flex-direction: column;
    padding-bottom: 100px;
  }
  .hero-section > div {
    width: 100%;
  }
  .hero-section > div > .s-svg {
    top: -50px;
    width: 30px;
  }
  .hero-section > div > .l-svg {
    bottom: -20px;
    right: 0px;
    top: auto;
    left: auto;
    width: 60px;
  }
  .about-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-section > div:first-child {
    padding: 0;
  }
  .about-section p {
    margin-bottom: 20px;
  }
  .about-section > div > img {
    margin-bottom: 20px;
  }
  .img-blocks img {
    height: 100%;
    width: unset;
  }
  .img-blocks {
    grid-template-columns: 1fr 1fr;
  }
  .img-blocks > div {
    height: 145px;
  }
  .plugs {
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100% !important;
    height: auto !important;
  }
  .plugs img {
    width: 100%;
  }
  .product-section {
    padding: 40px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .product-section h2 {
    margin-bottom: 40px;
  }
  .two-card {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .brand-section {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .more-btn {
    margin: 0 auto 40px auto;
  }
  .brand-card > div {
    justify-content: center;
  }
  .form-section {
    padding: 20px;
    display: block;
    text-align: center;
  }
  .logos {
    padding: 20px 0 8px 0;
  }
  .logos-slide img {
    margin: 0 10px;
  }
}
