.inner-section {
  width: fit-content;
  margin: auto;
}
.hero-section {
  background: url(/src/our-client/hero-background.png);
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: var(--color-secondary);
}

.text-section {
  padding-top: 120px;
  padding-bottom: 60px;
}

.clients-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
}

.client-logos {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.client-logos img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.big-logo {
  grid-column: span 2;
}

.cards {
  padding-bottom: 240px;
}

@media only screen and (max-width: 1024px) {
  .clients-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .big-logo {
    order: 4;
  }
}
